* {
  margin-top: 0px;
  padding-top: 0px;
  font-family: "Epilogue", sans-serif;
}
html {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 98%);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
figure {
  padding-top: 22px;
}
nav {
  flex: 2;
}
nav ul li {
  list-style: none;
  float: left;
  margin-right: 35px;
}

.drop-down-btn {
  position: relative;
}
.drop-down-btn ul {
  margin-left: -27px;
}
.drop-down-menu {
  background-color: white;
  position: absolute;
  display: none;
  width: 153px;
  height: 140px;
  top: 25px;
  right: -2px;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
/* drop down visibility */

/* ................ */
.drop-down-menu a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
}
.drop-down-menu span {
  width: 22px;
}

.drop-down-btn-company {
  position: relative;
}
.drop-down-btn-company ul {
  margin-left: -27px;
}
.drop-down-menu-company {
  background-color: white;
  position: absolute;
  display: none;
  width: 105px;
  height: 105px;
  top: 25px;
  padding-top: 10px;

  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.drop-down-menu-company a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
}
.drop-down-menu-company li {
  margin-right: 0px;
}
header a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  font-size: 14px;
  transition: all 0.2s;
}
.right-side {
  padding-right: 50px;
}
.right-side a {
  margin-right: 35px;
}
header button {
  padding: 12px 25px;
  border: 2px solid hsl(0, 0%, 41%);
  border-radius: 15px;
  color: hsl(0, 0%, 41%);
  font-family: inherit;
  background-color: inherit;
  transition: all 0.2s;
}
header a:hover {
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}
header button:hover {
  cursor: pointer;
  color: hsl(0, 0%, 8%);
}

/* Styling the body */
main {

  margin: 0px;
  line-height: 50px;
}

#header1 {
  font-size: 70px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  margin-bottom: 50px;
  margin-top: 189px;
  margin-left: 260px;
  width: 400px;
  line-height: 1;

}

#paragraph {
  font-size: 16px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  line-height: 1.4;
  width: 340px;
  word-break: normal;
  margin-bottom: 50px;
  margin-left: 260px;
}

#button {
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 1px 1px;
    margin-right: 0.5px 0.5px;
    height: 45px;
    width: 125px;
    font-size: 14px;
    margin-left: 260px;
    margin-bottom: 115px;

}

.images {
    margin-left: 260px;
    display: flex;
    justify-content: space-between;
    width: 380px;
    height: 20px;
}

.main_image {
  margin-left: 800px;
  margin-top: -550px;
}
